.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid sg-color(sky);
  padding: rem(30px);
  height: 100%;
  width: 100%;
  border-radius: rem(6px);
  margin-top: rem(30px);
  p {
    padding-bottom: 0;
  }
  @media screen and (min-width: sg-breakpoint()) {
    margin-top: 0;
  }
  &Header {
    display: flex;
    align-items: center;
    padding-bottom: rem(16px);
  }
  &Links {
    margin-top: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: -10px;
    width: calc(100% + 10px);
    span {
      margin: 10px 0 0 10px;
      width: 1px;
      background-color: sg-color(sky);
    }
    a {
      margin: 10px 0 0 10px;
    }
  }
  &Icon {
    width: rem(30px);
    height: rem(30px);
    margin-left: auto;
    &Third {
      width: rem(40px);
    }
  }
  &Bottom {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    // align-items: flex-end;
    // @media screen and (min-width: sg-breakpoint()) {
    //   flex-direction: row;
    // }
  }
  &Tag {
    margin-left: auto;
    margin-top: rem(30px);
  }
}

.isActive {
  border-color: sg-color(sia-green);
}
