<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
  <meta charset="utf-8">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/scripts/behaviour.min.js"></script>
  <!-- TODO: viewport -->
</head>
<body>
  <!-- TODO: google analytics -->
  {{ partial "header.html" . }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  <!-- TODO: cloudflare email obfuscation JS? -->
</body>
</html>
