<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
  <meta charset="utf-8">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/scripts/behaviour.min.js"></script>
  <meta name="viewport" content="initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style-homepage.css">
  {{ template "_internal/google_analytics_async.html" . }}
</head>
<body>
  {{ if .Params.i18nwarnings }}
    {{ $pagelang := .Lang }}
    {{ range $lang := .Params.i18nwarnings }}
      {{ if eq $lang $pagelang }}
        {{ partial "i18nwarning.html" . }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ if eq .URL "/"}}
    {{ block "main" . }}{{ end }}
  {{ else }}
    {{ partial "header.html" . }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
  {{ end }}
  {{ partial "footer.html" . }}
  <!-- TODO: cloudflare email obfuscation JS? -->
</body>
</html>
