////
/// Icon Circle
/// @group components/Icon/Circle
////

.Circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: sg-layout-width(icon-circle);
  height: sg-layout-height(icon-circle);
  border-radius: 50%;
  background-color: sg-color(white);

  > * {
    flex: 0 0 auto;
  }
}

.typeSolid {
  color: sg-color(white);
  background-color: sg-color(ink);

  a > & {
    transition: background-color sg-duration() sg-easing();
  }

  a:hover > & {
    background-color: sg-color(ink);
  }

  a:active > & {
    background-color: sg-color(ink);
  }

  a:focus > & {
    background-color: sg-color(ink);
  }
}

.typeBorder {
  border: 0.1rem solid sg-color(sky);
  color: sg-color(sky); // inherited by `sg-border()`
  box-shadow: inset 0 0 0 0.1rem rgba(sg-color(ink), 0), inset 0 0.1rem 0.2rem 0 rgba(sg-color(sky), 0.2);

  // temp solution

  a > & {
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: sg-duration();
    transition-timing-function: sg-easing();
  }

  a:hover > & {
    border-color: sg-color(ink);
    color: sg-color(ink);
    box-shadow: inset 0 0 0 0.1rem rgba(sg-color(ink), 1), inset 0 0.1rem 0.2rem 0 rgba(sg-color(sky), 0.3);
  }

  a:focus > &,
  a:active > & {
    color: sg-color(ink);
    background-color: sg-color(sky, light);
    box-shadow: inset 0 0 0 0.1rem rgba(sg-color(ink), 1), inset 0 0.1rem 0.2rem 0 rgba(sg-color(sky), 0.3);
  }
}
