<section class="discover">
  <div class="container">
    <header class="row">
      <div class="col-xs-12 col-lg-12">
        <h1>{{ i18n "discover_header" }}</h1>
      </div>
    </header>
    <div class="icon-group">
      <a href="https://blog.sia.tech/" target="_blank" class="nav-link">
        <img src="/assets/globals/blog-icon.svg" /><span>{{ i18n "discover_blog" }}</span>
      </a>
      <a href="{{ .LanguagePrefix }}/faq" class="nav-link">
        <img src="/assets/globals/faq-icon.svg" /><span>{{ i18n "title_faq" }}</span>
      </a>
      <a href="https://explore.sia.tech/" target="_blank" class="nav-link">
        <img src="/assets/globals/bcexplorer-icon.svg" /><span>{{ i18n "discover_explorer" }}</span>
      </a>
      <a href="{{ .LanguagePrefix }}/apps" class="nav-link">
        <img src="/assets/globals/apps-icon.svg" /><span>{{ i18n "title_apps" }}</span>
      </a>
      <a href="https://trello.com/b/Io1dDyuI/sia-public-roadmap" class="nav-link">
        <img src="/assets/globals/roadmap-icon.svg" /><span>{{ i18n "title_roadmap" }}</span>
      </a>
    </div>
  </div>
</section>
