<footer class="footer">
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column is-three-quarters">
        <div class="columns">
          <div class="column">
            <h1 class="title is-6" style="color: #eee">What is Sia?</h1>
            <ul>
              <li><a href="https://sia.tech/get-started" class="link is-6">Get Started</a></li>
              <li><a href="https://sia.tech/about" class="link is-6">About</a></li>
              <li><a href="https://sia.tech/faq" class="link is-6">FAQ</a></li>
              <li><a href="https://sia.tech/apps" class="link is-6">Download</a></li>
              <li><a href="mailto:hello@sia.tech" class="link is-6">Contact</a></li>
            </ul>
          </div>
          <div class="column">
            <h1 class="title is-6" style="color: #eee">More About Sia</h1>
            <ul>
              <li><a href="https://sia.tech/get-siacoin" class="link is-6">Get Siacoin</a></li>
              <li><a href="https://sia.tech/about/milestones" class="link is-6">Roadmap</a></li>
              <li><a href="https://github.com/NebulousLabs/Sia-UI" class="link is-6">Github - UI</a></li>
              <li><a href="https://github.com/NebulousLabs/Sia" class="link is-6">Github</a></li>
              <li><a href="https://github.com/NebulousLabs/Sia/tree/master/doc" class="link is-6">Docs</a></li>
            </ul>
          </div>
          <div class="column">
            <h1 class="title is-6" style="color: #eee">Community</h1>
            <ul>
              <li><a href="https://blog.sia.tech/" class="link is-6">Blog</a></li>
              <li><a href="https://twitter.com/siatechhq" class="link is-6">Twitter</a></li>
              <li><a href="https://www.reddit.com/r/siacoin" class="link is-6">Subreddit</a></li>
              <li><a href="https://forum.sia.tech/" class="link is-6">Forum</a></li>
              <li><a href="https://slackin.sia.tech/" class="link is-6">Slack</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column has-text-centered is-vcentered">
        <h1 class="subtitle" style="color: #eee"> Sia is built by</h1>
        <img style="max-width: 200px;" src="img/nebulous-logo.png">
      </div>
    </div>
  </div>
</footer>