<footer>
  <section id="main-footer">
    <div class="container">
      <div class="row">
        
        <div  class="col-lg-2 col-sm-4">
          <ul>
            <li><span class="list-header">{{ i18n "footer_navheader" }}</span></li>
            
              <li><a href="{{ .LanguagePrefix }}/get-started" >{{ i18n "title_getstarted" }}</a></li>
            
              <li><a href="{{ .LanguagePrefix }}/about" >{{ i18n "title_about" }}</a></li>
            
              <li><a href="{{ .LanguagePrefix }}/faq" >{{ i18n "title_faq" }}</a></li>
            
              <li><a href="{{ .LanguagePrefix }}/apps" >{{ i18n "title_apps" }}</a></li>
            
            </li>
          </ul>
        </div>
        
        <div  class="col-lg-2 col-sm-4">
          <ul>
            <li><span class="list-header">{{ i18n "footer_moreheader" }}</span></li>
            
              <li><a href="{{ .LanguagePrefix }}/get-siacoin" >{{ i18n "title_getsiacoin" }}</a></li>
            
              <li><a href="https://trello.com/b/Io1dDyuI/sia-public-roadmap" >{{ i18n "title_roadmap" }}</a></li>
            
              <li><a href="https://github.com/NebulousLabs/Sia-UI" target=&#34;_blank&#34;>Github - UI</a></li>
            
              <li><a href="https://github.com/NebulousLabs/Sia" target=&#34;_blank&#34;>Github</a></li>
            
            </li>
          </ul>
        </div>
        
        <div  class="col-lg-2 col-sm-4">
          <ul>
            <li><span class="list-header">{{ i18n "header_community" }}</span></li>
            
              <li><a href="https://blog.sia.tech" target=&#34;_blank&#34;>{{ i18n "footer_blog" }}</a></li>
            
              <li><a href="https://forum.sia.tech" target=&#34;_blank&#34;>{{ i18n "footer_forum" }}</a></li>
              <li><a href="https://twitter.com/SiaTechHQ" target=&#34;_blank&#34;>Twitter</a></li>
            
              <li><a href="https://slackin.sia.tech/" target=&#34;_blank&#34;>Slack</a></li>
            
            </li>
          </ul>
        </div>
        
        <div class="col-lg-3 col-lg-offset-3 col-sm-7 logos" class="col-lg-2 col-sm-4">
          <ul>
            <li><img src="/assets/globals/logo.svg" /><span class="list-header">{{ i18n "footer_backedby" }}</span></li>
            <li><a href="http://www.nebulouslabs.com" target="_blank"><img src="/img/svg/nebulous-logo.svg" /></a></li>
          </ul>
        </div>
        <div class="col-lg-12 questions" class="col-lg-2 col-sm-4">
          <ul>
            <li><span class="list-header">{{ i18n "footer_questions" }}</span></li>
            <li><a href="mailto:hello@sia.tech" target="_blank" class="email btn btn-reverse"style="margin-top:9px;">{{ i18n "footer_contact" }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="social-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9">
          <ul>
            <li>
              <a href="https://github.com/NebulousLabs/Sia" target="_blank">
                <span class="icon"><img src="/img/svg/github-icon.svg"></span>
                <span class="text">Github</span>
              </a>
            </li>
            
            <li>
              <a href="https://www.facebook.com/nebulouslabs/" target="_blank">
                <span class="icon"><img src="/img/svg/facebook-icon.svg"></span>
                <span class="text">{{ i18n "footer_like" }}</span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/SiaTechHQ" target="_blank">
                <span class="icon"><img src="/img/svg/twitter-icon.svg"></span>
                <span class="text">{{ i18n "footer_follow" }}</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3">
          <p>
            <span class="copyright">&copy; Nebulous Inc.</span>
          </p>
        </div>
      </div>
    </div>
  </section>
</footer>
