<footer>
  <section id="main-footer">
    <div class="container">
      <div class="row">
        
        <div  class="col-lg-2 col-sm-4">
          <ul>
            <li><span class="list-header">What is Sia?</span></li>
            
              <li><a href="/get-started" >Get Started</a></li>
            
              <li><a href="/about" >About</a></li>
            
              <li><a href="/faq" >FAQ</a></li>
            
              <li><a href="/apps" >Apps</a></li>
            
            </li>
          </ul>
        </div>
        
        <div  class="col-lg-2 col-sm-4">
          <ul>
            <li><span class="list-header">More about Sia</span></li>
            
              <li><a href="/get-siacoin" >Get Siacoin</a></li>
            
              <li><a href="/about/milestones" >Roadmap</a></li>
            
              <li><a href="https://github.com/NebulousLabs/Sia-UI" target=&#34;_blank&#34;>Github - UI</a></li>
            
              <li><a href="https://github.com/NebulousLabs/Sia" target=&#34;_blank&#34;>Github</a></li>
            
              <li><a href="http://github.com/NebulousLabs/Sia/tree/master/doc" target=&#34;_blank&#34;>Docs</a></li>
            
            </li>
          </ul>
        </div>
        
        <div  class="col-lg-2 col-sm-4">
          <ul>
            <li><span class="list-header">Community</span></li>
            
              <li><a href="https://blog.sia.tech" target=&#34;_blank&#34;>Blog</a></li>
            
              <li><a href="https://www.reddit.com/r/siacoin" target=&#34;_blank&#34;>Subreddit</a></li>
            
              <li><a href="https://forum.sia.tech" target=&#34;_blank&#34;>Forum</a></li>
            
              <li><a href="https://slackin.sia.tech/" target=&#34;_blank&#34;>Slack</a></li>
            
              <li><a href="http://irc.lc/freenode/siatalk" target=&#34;_blank&#34;>#siatalk on irc.freenode.net</a></li>
            
            </li>
          </ul>
        </div>
        
        <div class="col-lg-3 col-lg-offset-3 col-sm-7 logos" class="col-lg-2 col-sm-4">
          <ul>
            <li><img src="/assets/globals/logo.svg" /><span class="list-header">is backed by</span></li>
            <li><a href="http://www.nebulouslabs.com" target="_blank"><img src="/img/svg/nebulous-logo.svg" /></a></li>
          </ul>
        </div>
        <div class="col-lg-12 questions" class="col-lg-2 col-sm-4">
          <ul>
            <li><span class="list-header">Questions about Sia? Get in touch!</span></li>
            <li><a href="/cdn-cgi/l/email-protection#ef878a838380af9c868ec19b8a8c87" target="_blank" class="email btn btn-reverse"style="margin-top:9px;">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="social-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9">
          <ul>
            <li>
              <a href="https://github.com/NebulousLabs/Sia" target="_blank">
                <span class="icon"><img src="/img/svg/github-icon.svg"></span>
                <span class="text">Github</span>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/nebulouslabs/" target="_blank">
                <span class="icon"><img src="/img/svg/facebook-icon.svg"></span>
                <span class="text">Like us</span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/SiaTechHQ" target="_blank">
                <span class="icon"><img src="/img/svg/twitter-icon.svg"></span>
                <span class="text">Follow us</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3">
          <p>
            <span class="copyright">&copy; Nebulous Inc.</span>
          </p>
        </div>
      </div>
    </div>
  </section>
</footer>
