<header>
  <section id="site-nav">
    <div class="container">
      <nav class="navbar">
        <a class="navbar-brand" href="/"><img src="/img/svg/sia-green-logo.svg" alt="Sia" /></a>
        <button class="navbar-toggler" type="button" href="/" data-toggle="collapse" data-target="#sia-nav" >
          <img class="menu" src="/img/svg/menu.svg" alt="Sia" />
          <img class="menu-close" src="/img/svg/close.svg" alt="Sia" />
        </button>
        <div class="collapse navbar-toggleable-md" id="sia-nav">
          <ul class="nav navbar-nav h-box">
            
                <li class="nav-item dropdown language-menu icon">
                  <a id="nav-item-locale" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="icon language"></span>
                    English<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="#nav-item-locale">
                    
                    <li class="dropdown-item ">
                      <a href="/fr/" class="nav-link skip-menu-prefix" >
                        Français
                      </a>
                    </li>
                    
                    <li class="dropdown-item ">
                      <a href="/ru/" class="nav-link skip-menu-prefix" >
                        Русский
                      </a>
                    </li>
                    
                    <li class="dropdown-item ">
                      <a href="/zh_HANS/" class="nav-link skip-menu-prefix" >
                        中文
                      </a>
                    </li>
                    
                    <li class="dropdown-item ">
                      <a href="/zh_HANT/" class="nav-link skip-menu-prefix" >
                        繁體中文
                      </a>
                    </li>
                    
                  </ul>
                </li>
              
                <li class="nav-item flex-1"></li>
              
                <li class="nav-item ">
                  <a href="/get-started" class="nav-link " >
                    Get Started
                  </a>
                </li>
            
                <li class="nav-item ">
                  <a href="/apps" class="nav-link " >
                    Apps
                  </a>
                </li>
            
                <li class="nav-item ">
                  <a href="/about" class="nav-link " >
                    About
                  </a>
                </li>
            
                <li class="nav-item dropdown ">
                  <a id="nav-item-community" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    
                    Community<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="#nav-item-community">
                    
                    <li class="dropdown-item ">
                      <a href="https://www.reddit.com/r/siacoin" class="nav-link " target=&#34;_blank&#34;>
                        Subreddit
                      </a>
                    </li>
                    
                    <li class="dropdown-item ">
                      <a href="https://forum.sia.tech" class="nav-link " target=&#34;_blank&#34;>
                        Forum
                      </a>
                    </li>
                    
                    <li class="dropdown-item ">
                      <a href="http://slackin.sia.tech/" class="nav-link " target=&#34;_blank&#34;>
                        Slack
                      </a>
                    </li>
                    
                    <li class="dropdown-item ">
                      <a href="http://irc.lc/freenode/siatalk" class="nav-link " target=&#34;_blank&#34;>
                        #siatalk on irc.freenode.net
                      </a>
                    </li>
                    
                  </ul>
                </li>
              
                <li class="nav-item ">
                  <a href="/get-siacoin" class="nav-link btn btn-reverse" >
                    GET SIACOIN
                  </a>
                </li>
            
          </ul>
        </div>
      </nav>
    </div>
  </section>    
</header>
