<header>
  <section id="site-nav">
    <div class="container">
      <nav class="navbar">
        <a class="navbar-brand" href="{{ .LanguagePrefix }}/"><img src="/img/svg/sia-green-logo.svg" alt="Sia" /></a>
        <button class="navbar-toggler" type="button" href="/" data-toggle="collapse" data-target="#sia-nav" >
          <img class="menu" src="/img/svg/menu.svg" alt="Sia" />
          <img class="menu-close" src="/img/svg/close.svg" alt="Sia" />
        </button>
        <div class="collapse navbar-toggleable-md" id="sia-nav">
          <ul class="bootstrap-nav navbar-nav h-box">
                {{ if .IsTranslated }}
                  <li class="bootstrap-nav-item dropdown language-menu bootstrap-icon">
                    <a id="nav-item-locale" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <span class="bootstrap-icon language"></span>
                      {{ i18n .Lang }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="#nav-item-locale">
                    {{ range .Translations }}
                        <li class="dropdown-item " >
                          <a href="{{ .Permalink }}" class="nav-link skip-menu-prefix" >
                            {{ i18n .Lang }}
                          </a>
                        </li>
                      {{ end }}
                    </ul>
                  </li>
                {{ end }}

                <li class="bootstrap-nav-item flex-1"></li>

                <li class="bootstrap-nav-item ">
                  <a href="{{ .LanguagePrefix }}/apps" class="nav-link " >
                    {{ i18n "title_apps" }}
                  </a>
                </li>

                <li class="bootstrap-nav-item ">
                  <a href="{{ .LanguagePrefix }}/about" class="nav-link " >
                    {{ i18n "title_about" }}
                  </a>
                </li>

                <li class="bootstrap-nav-item dropdown ">
                  <a id="nav-item-community" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                    Resources<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="#nav-item-community">
                    <li class="dropdown-item ">
                      <a href="{{ .LanguagePrefix }}/get-siacoin" class="nav-link " >
                        {{ i18n "title_getsiacoin" }}
                      </a>
                    </li>
                    <li class="dropdown-item ">
                      <a href="{{ .LanguagePrefix }}/faq" class="nav-link " >
                        {{ i18n "title_faq" }}
                      </a>
                    </li>
                    <li class="dropdown-item ">
                      <a href="https://trello.com/b/Io1dDyuI/sia-public-roadmap" class="nav-link " target=&#34;_blank&#34; >
                        {{ i18n "title_roadmap" }}
                      </a>
                    </li>
                    <li class="dropdown-item ">
                      <a href="https://siawiki.tech" class="nav-link " target=&#34;_blank&#34;>
                        Wiki
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="bootstrap-nav-item dropdown ">
                  <a id="nav-item-community" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                    {{ i18n "header_community" }}<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="#nav-item-community">
                    <li class="dropdown-item ">
                      <a href="https://blog.sia.tech" class="nav-link " target=&#34;_blank&#34; >
                        {{ i18n "footer_blog" }}
                      </a>
                    </li>
                    <li class="dropdown-item ">
                      <a href="https://forum.sia.tech" class="nav-link " target=&#34;_blank&#34;>
                        {{ i18n "footer_forum" }}
                      </a>
                    </li>
                    <li class="dropdown-item ">
                      <a href="http://github.com/nebulouslabs" class="nav-link " target=&#34;_blank&#34;>
                        Github
                      </a>
                    </li>
                    <li class="dropdown-item ">
                      <a href="http://slackin.sia.tech" class="nav-link " target=&#34;_blank&#34;>
                        Slack
                      </a>
                    </li>
                    <li class="dropdown-item ">
                      <a href="https://twitter.com/siatechhq" class="nav-link " target=&#34;_blank&#34;>
                        Twitter
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="bootstrap-nav-item ">
                  <a href="{{ .LanguagePrefix }}/get-started" class="nav-link btn btn-reverse" >
                    {{ i18n "title_getstarted" }}
               </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</header>
