////
/// TypeHeading
/// @group components/TypeHeading/TypeHeading
////

$accepted-heading-levels: 1, 2, 3, 4, 5, 6;

@mixin sg-TypeHeading($level) {
  @if type-of($level) != number or index($accepted-heading-levels, $level) == null {
    @error 'The Heading level `#{$level}` does not exist. Available levels: #{$accepted-heading-levels}';
  }
  // Heading 1
  @if $level == 1 {
    margin-bottom: 0.3em;
    font-size: sg-font-size(h1);
    font-weight: 400;
    letter-spacing: -0.1rem;
    line-height: 1.3;

    @media only screen and (min-width: sg-breakpoint(portrait, "1080p")) {
      margin-bottom: 0.5em;
      font-size: sg-font-size(h1, desktop);
    }
  }

  // Heading 2
  @if $level == 2 {
    margin-bottom: 0.2em;
    font-size: sg-font-size(h2);
    font-weight: 400;
    letter-spacing: -0.1rem;
    line-height: 1.3;

    @media only screen and (min-width: sg-breakpoint(portrait, "1080p")) {
      margin-bottom: 0.3em;
      font-size: sg-font-size(h2, desktop);
    }
  }

  // Heading 3
  @if $level == 3 {
    font-size: sg-font-size(h3);
    font-weight: 400;
    line-height: 1.2;

    @media only screen and (min-width: sg-breakpoint(portrait, "1080p")) {
      font-size: sg-font-size(h3, desktop);
    }
  }

  // Heading 4
  @if $level == 4 {
    margin-bottom: 0.8em;
    font-size: sg-font-size(h4);
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.1rem;
  }

  // Heading 5
  @if $level == 5 {
    margin-bottom: 0.8em;
    font-size: sg-font-size(h5);
    font-weight: 400;
    line-height: 1.6;
  }

  // Heading 6
  @if $level == 6 {
    margin-bottom: 3rem;
    font-size: sg-font-size(h6);
    line-height: 1.4;
    font-weight: 400;
    @media only screen and (min-width: sg-breakpoint(portrait, "1080p")) {
      font-size: sg-font-size(h6, desktop);
    }
  }
}

///
/// Heading level classes

.TypeHeading {
  color: sg-color(ink);
}

.level1 {
  @include sg-TypeHeading(1);
}

.level2 {
  @include sg-TypeHeading(2);
}

.level3 {
  @include sg-TypeHeading(3);
}

.level4 {
  @include sg-TypeHeading(4);
}

.level5 {
  @include sg-TypeHeading(5);
}

.level6 {
  @include sg-TypeHeading(6);
}

// --- Colors
.isInverse {
  color: sg-color(white);
}

.isUnderlined {
  &::after {
    content: "";
    display: block;
    border-top: rem(6px) solid sg-color(sia-green);
  }
}

.isInlined {
  display: inline-block;
}

.isTight {
  margin-bottom: 0;
}

.isLighter {
  color: sg-color(ink, light);
}

.typeStat {
  color: sg-color(sia-green);
  font-size: rem(32px);
  line-height: 1;
  margin-bottom: rem(10px);
  @media screen and (min-width: sg-breakpoint()) {
    font-size: sg-font-size(h1);
    margin-bottom: rem(10px);
    font-weight: 600;
  }
}

.typeDeveloperStat {
  color: sg-color(sia-green);
  font-size: sg-font-size(h6);
  @media screen and (min-width: sg-breakpoint()) {
    font-size: sg-font-size(h1);
  }
  margin-bottom: 0;
}

.typeDeveloperStatSubheading {
  font-size: rem(24px);
  @media screen and (min-width: sg-breakpoint()) {
    font-size: sg-font-size(h6);
  }
}

.typeBioHeading {
  margin-bottom: 6px;
}

.typeContactHeading {
  padding-bottom: rem(40px);
}
